ul {
  list-style: none;
}
body {
  min-width: 1000px;
  overflow: hidden;
}
.headBox .navBox {
  height: 65px;
  border-radius: 0;
}
.headBox .navBox .picTitle {
  height: 65px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headBox .navBox .picTitle span #picture {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: -18px -10px;
}
.headBox .navBox #HeadNav li a {
  font-size: 18px !important;
  line-height: 32.5px;
}
.headBox .navBox #HeadNav li:first-of-type {
  margin-left: 20px;
}
.headBox .navBox .searchBox {
  height: 45px;
  margin: 15px;
}
.headBox .navBox .picAndLoginout {
  position: absolute;
  right: 30px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headBox .navBox .picAndLoginout .pic img {
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  border-radius: 50%;
}
.headBox .navBox .picAndLoginout #nickName {
  cursor: pointer;
  font-size: 18px;
}
.cbl {
  position: relative;
  height: 500px;
}
.cbl .active {
  background-color: pink;
}
.cbl aside ul {
  padding: 0;
  margin: 0 10px;
}
.cbl aside ul li:first-of-type a {
  border-top: none;
}
.cbl aside ul li a {
  display: block;
  width: 15%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: teal;
  border-top: 1px solid gray;
  font-size: 18px;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
}
.cbl aside ul li > a:hover {
  background-color: pink;
}
.cbl article .textBox {
  width: 82%;
  height: 500px;
  margin: 0% 1%;
  position: absolute;
  top: 0;
  right: 0;
}
.cbl article .textBox .ul {
  margin: 0px auto 0 auto;
  padding: 0;
  position: relative;
  transition: all 0.5s;
}
.cbl article .textBox .ul li:hover {
  transform: scale(1.05);
}
.cbl article .textBox .ul li {
  width: 300px;
  padding: 5px;
  position: absolute;
  list-style: none;
  float: left;
  cursor: pointer;
  border: 1px solid teal;
  box-shadow: 0 4px 8px 0 #ACDFEF, 0 6px 20px 0 #6DECF2;
}
.cbl article .textBox .ul li img {
  width: 100%;
}
.cbl article .textBox .ul li .author {
  float: right;
}
.cbl article .textBox .ul li .authorTxt p {
  text-indent: 25px;
  font-size: 14px;
  margin-top: 5px;
}
.cbl .page {
  width: 300px;
  height: 60px;
  position: absolute;
  right: 0px;
  top: 500px;
}
.footer {
  width: 100%;
  height: 72px;
  background-color: lightgray;
  margin-top: 65px;
}
.footer p {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
